*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background-color: #fff;
    --text-color: #000;
    --input-background-color: #f0f0f0;
    --input-border-color: #ccc;
    --item-background-color: #f0f0f0;
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #fff;
    --input-background-color: #555;
    --input-border-color: #777;
    --item-background-color: #555;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 80%;
    max-width: 600px; /* Adjust based on your preference */
    margin-top: calc(100vh / 4 - 50px); /* Adjust the search bar to be in the top 1/4 */
    text-align: center;
}

.search-container input, .movies-list li, .mode-toggle {
    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
}

.search-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--text-color);
}

.movies-list {
    list-style-type: none;
    padding: 0;
    max-height: 60vh; /* Adjust based on your preference */
    overflow-y: auto; /* Enable scroll if the list is too long */
}

.movies-list li {
    color: var(--text-color);
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

.mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--item-background-color);
    color: var(--text-color);
}

.no-results {
    color: #666;
}

